.home {
    display: flex;
}

.home-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100vh;
}

.post {
    width: 700px;
    margin-top: 30px;
}